@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Ubuntu Mono', monospace;
    --green: #41E847;
    --red: #E84141;
    --blue: #4165E8;
}

html, body, #root {
    height: 100%;
    width: 100%;
}